* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-top:6%;
}

#card {
  border: 1px solid #f0e7e7;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-inner {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.price {
  font-size: 24px;
  color: #333;
}

.category,
.brand {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.isInStock {
  font-size: 16px;
  color: #28a745;
  margin-top: 10px;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.star {
  color: #f39c12;
  margin: 0 2px;
}


/* CSS FOR NAVBAR */

.navBar{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  position: fixed;
  overflow: hidden;
  width: 100vw;
  top: 0px;
}

.navBar>img{
  width: 200px;
  height: 150px;
  margin: 5px;

}

.navBar>img:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.inner-nav{
  color: black;
  display: flex;
  flex-direction: row;
}
.inner-nav>p{
  padding: 20px;
  margin: 5px;
}

.links{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-size: 20px;
}
.links:hover{
  border-radius: 20px;
}