* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

#card {
  border: 1px solid #f0e7e7;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-inner {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.price {
  font-size: 24px;
  color: #333;
}

.category,
.brand {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.isInStock {
  font-size: 16px;
  color: #28a745;
  margin-top: 10px;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.star {
  color: #f39c12;
  margin: 0 2px;
}
